body {
    background-color: darkorange;
    font-family: "Quicksand", Arial;
}

.maxcell-label-font {
    font-size: 20vw;
    padding-top: 20vh;
}

.navbar-inverse {
    font-weight: bold;
}

.maxcell-about {
    font-size: 25px;
    text-align: center;
}

