body {
    font-family: "Quicksand", Arial;
    overflow-x: hidden;
    align-items: center;
}

.maxcell-label {
    text-align: center;
}

.maxcell-label-font {
    max-width: 100%;
    font-size: 20vw;
    padding-top: 5vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

.maxcell-sub-label-font {
    max-width: 100%;
    font-size: 3vw;
    margin-top: -8vh;
    padding-top: 0;
    padding-bottom: 5vh;
}

.navbar-inverse {
    font-weight: 500;
}

.navbar-default {
    font-weight: 500;
}

.navbar-header {
    font-weight: 600;
}

.maxcell-about {
    font-size: 25px;
    text-align: center;
}

.maxcell-button {
    font-size: 22px;
    color: #eee;
    width: 20vw;
    height: auto;
    min-height: 5vw;
    min-width: 180px;
    position: relative;
    text-align: center;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: #303030;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.button-contianer {
    text-align: center;
}

.button-font {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

.main {
    position: absolute;
    width: 100vw;
    height: 0;
}

.page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    max-height: 1080px;
    display: block;
}

.page1 {
    background-color: #f8a841;
}

.page2 {
    background-color: #fff;
}

.page3 {
    background-color: #9792d4;
}

.page-header h1 {
    font-size: 35px;
}

.page-header {
    border-bottom: 3px solid rgba(255, 255, 255, 0.375);
    margin-bottom: 30px;
}

#content-left {
    color: #fff;
}

.page-content {
    font-size: 20px;
}

.page-row {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
}

@media all and (min-width: 1600px) {
    .maxcell-label-font {
        font-size: 16vw;
    }

    .maxcell-button {
        font-size: 30px;
    }

    .maxcell-sub-label-font {
        font-size: 4vw;
        margin-top: -5vh;
    }
}

@media all and (max-width: 1280px) {
    .maxcell-sub-label-font {
        font-size: 4vw;
        margin-top: -4vh;
    }
}

@media all and (max-width: 768px) {
    .maxcell-button {
        font-size: 19px;
    }

    .maxcell-sub-label-font {
        font-size: 5vw;
        margin-top: -2vh;
    }
}

@media all and (max-width: 540px) {
    .maxcell-sub-label-font {
        font-size: 6vw;
        margin-top: 2vh;
    }

    .maxcell-button {
        margin-top: 10vh;
    }

    .page-row {
        margin-top: 5vh;
    }
}