body {
    font: 400 15px/1.8 Lato, sans-serif;
}

.container-inner {
    padding: 60px 50px;
}

.container-fluid {
    padding: 0 0;
}

.dummy-hr {
    height: 30px;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
}

.department {
    border: 5px solid transparent;
    margin-bottom: 25px;
    width: 99%;
    height: 99%;
    opacity: 0.8;
}

.department:hover {
    border-color: #efa43d;
    opacity: 0.9;
}

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    letter-spacing: 2px;
    opacity: 0.9;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
    background-color: #eee;
    color: #2d2d30 !important;
}

.navbar .navbar-brand::selection {
    background-color: #eee;
    color: #2d2d30 !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #efa43d !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li a {
    color: #ccc !important;
}

.navbar-brand img {
    height: 30px;
    float: left;
    margin-top: -3px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

#home-bg .carousel-inner h1 {
    color: #2d2d30;
}

#home-bg .carousel-inner h3 {
    color: #2d2d30;
}

#home-bg .carousel-inner .carousel-caption {
    bottom: 30%;
}

#home-font {
    font-family: Quicksand, Arial, sans-serif;
    font-size: 136px;
    font-weight: bolder;
}

h3 {
    letter-spacing: 5px;
}

#about img {
    width: 255px;
    height: 255px;
}

#contact .row h3 {
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(45, 45, 48, 0.375);
    margin-bottom: 20px;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
}

footer a {
    color: #f5f5f5;
}

@media screen and (min-width: 2880px) {
    #home-bg .carousel-inner .carousel-caption {
        bottom: 45%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 2880px) {
    #home-bg .carousel-inner .carousel-caption {
        bottom: 35%;
    }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    #home-font {
        font-size: 10vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    #about img {
        width: 200px;
        height: 200px;
    }

    #home-bg .carousel-inner .carousel-caption {
        bottom: 25%;
    }
}

@media screen and (max-width: 768px) {
    #home-font {
        font-size: 16vw;
    }

    #about-hr {
        display: none;
    }

    #home-bg .carousel-inner .carousel-caption {
        bottom: 20%;
    }
}

@media (max-width: 600px) {
    #show-carousel .carousel-caption {
        display: none;
    }

    #home-bg .carousel-inner h3 {
        display: none;
    }
}

@media screen and (max-width: 512px) {
    #home-bg .carousel-inner .carousel-caption {
        bottom: 20%;
    }
}

@media screen and (max-width: 480px) and (min-width: 360px) {
    #home-bg .carousel-inner .carousel-caption {
        bottom: 15%;
    }
}

@media screen and (max-width: 360px) {
    #home-bg .carousel-inner .carousel-caption {
        bottom: 10%;
    }

    #home-bg .carousel-inner h3 {
        font-size: 6vw;
    }

    #about img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 300px) {
    #about img {
        width: 160px;
        height: 160px;
    }

    #home-bg .carousel-inner .carousel-caption {
        bottom: 5%;
    }

    .navbar .navbar-brand, .navbar .navbar-brand:hover {
        background-color: #2d2d30;
        color: #d5d5d5 !important;
    }

    .navbar .navbar-brand img {
        display: none;
    }
}